<h1>Encyclomedia</h1>
<p>This will later be a log in page, or redirect to create user page</p>
<%= link_to 'My profile', controller: 'articles' %>
<img src="https://i.ytimg.com/vi/nxmlAZqwQ9g/maxresdefault.jpg" height="500" width="500">
